<div class="sections">
  <div class="planner-tools">
    <button class="today-btn" (click)="showCurrentWeek()">
      <fa-icon icon="calendar"></fa-icon>
      Täna
    </button>
    <button class="mr-m calendar-btn" (click)="showPreviousWeek()">
      <fa-icon icon="chevron-left"></fa-icon>
    </button>
    <button class="mr-m calendar-btn" (click)="showNextWeek()">
      <fa-icon icon="chevron-right"></fa-icon>
    </button>
    <p>{{getShownWeekText()}}</p>
  </div>
  <app-planner [appointments]="appointments"
               [startDate]="startDate"
               (appointmentChange)="appointmentChanged($event)"></app-planner>
</div>
