.sections {
  display: flex;
  flex-direction: column;

  & .planner-tools {
    position: sticky;
    top: 0;
    height: 40px;
    z-index: 999;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    font-size: 16px;

    & button {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 5px;

      &:hover {
        background-color: darken(#fafafa, 10%);
        cursor: pointer;
      }

      &:active {
        background-color: darken(#fafafa, 20%);
      }
    }

    & .today-btn {
      & fa-icon {
        margin-right: 10px;
      }

      margin-left: 50px;
      margin-right: 40px;
      border-radius: 3px;
    }

    & .calendar-btn {
      padding: 5px 8px;
      border-radius: 3px;
    }

    & p {
      font-weight: bold;
    }
  }
}

.mr-m {
  margin-right: 20px;
}
