<section class="planner-header">
  <div class="time"></div>
  <section *ngFor="let day of days"
           class="day"
           [class.today]="today(day)">
    <p class="day-of-month mb-lg">{{day.getDate()}}</p>
    <p class="day-name mb-m">{{getDayName(day)}}</p>
  </section>
</section>
<section class="planner-content">
  <section class="week-hours-grid">
    <div *ngFor="let hour of hours" class="hour-row">
      <div class="time">
        <p>{{ hour }}</p>
        <div *ngIf="showDragIndicator && dragIndicatorHour === hour"
             class="drag-indicator"
             [style.top]="dragIndicatorOffset">{{ dragIndicatorTime }}</div>
      </div>
      <div *ngFor="let day of days"
           class="day-hour"
           (drop)="dropAppointment($event, day)"
           (dragover)="dragOver($event, day, hour)"
           [ngClass]="{ 'today': today(day), 'inactive': inactive(hour) }">
        <div class="middle"></div>
        <div *ngIf="hasCurrentTimeIndicator(day, hour)"
             [style.top]="getCurrentTimeIndicatorOffset(day, hour)"
             class="current-time-indicator"></div>
        <div *ngFor="let appointment of getAppointmentsForHour(day, hour)"
             draggable="true"
             (dragstart)="appointmentDragStart(appointment, $event)"
             [style]="getAppointmentDynamicStyles(appointment, day, hour)"
             class="appointment-container">
          <div class="appointment"
               [class.sm]="isSmallAppointment(appointment)"
               [class.striped]="appointment.striped"
               [ngClass]="getColor(appointment)">
            <div class="heading">
              <h1 class="title">{{ appointment.title }}</h1>
              <div *ngIf="!isSmallAppointment(appointment) && hasParticipants(appointment)" class="participants">
                <fa-icon icon="user-friends"></fa-icon>
                <p>{{getParticipantCountText(appointment)}}</p>
              </div>
            </div>
            <p *ngIf="!isSmallAppointment(appointment)" class="location">{{ appointment.location}}</p>
            <p *ngIf="!isSmallAppointment(appointment) && appointment.organizer">{{appointment.organizer}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
