.time {
  width: 40px;
  border-right: 1px solid #e6e6e6;
  font-size: 12px;
  color: #717171;
  display: flex;
  justify-content: flex-end;
  position: relative;

  & p {
    padding: 5px 10px;
  }
}

section.planner-header {
  top: 41px;
  position: sticky;
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 999;
}

section.day {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px 10px;
  border-right: 1px solid #e6e6e6;

  &.today {
    background-color: #ffffff;

    & p.day-of-month {
      color: #2e4662;
      font-weight: bold;
    }

    & p.day-name {
      font-weight: bold;
      color: #2e4662;
    }
  }
}

p.day-of-month {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}

p.day-name {
  color: #717171;
  font-size: 12px;
}

section.week-hours-grid {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.hour-row {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.day-hour {
  flex: 1 1 0;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  &.today {
    background-color: #ffffff;

    &.inactive {
      background-color: #f4f4f4;
    }
  }

  &.inactive {
    background-color: #f4f4f4;
  }

  & .middle {
    flex: 1 1 0;
    border-bottom: 1px dashed #e6e6e6;
  }
}

.appointment-container {
  position: absolute;
  cursor: move;
  z-index: 1;
  user-select: none;
  width: 95%;
  left: 2px;
  font-size: 13px;
}

.appointment {
  padding: 0 3px;
  border-radius: 3px;
  height: 100%;
  overflow: hidden;

  &.sm {
    & .heading {
      display: block;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      padding-top: 0;
    }
  }

  & .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5px;

    & .title {
      font-weight: bold;
    }

    & .participants {
      display: flex;
      margin-right: 3px;
      font-size: 11px;

      & p {
        border-radius: 10px;
        padding: 3px 8px;
      }

      & fa-icon {
        margin-right: 8px;
        margin-top: 3px;
      }
    }
  }

  & .location {
    padding: 7px 0;
  }

  &.purple {
    background-color: #f5effe;
    border-left: 3px solid #6165a2;
    color: #1c0243;

    &.striped {
      background: repeating-linear-gradient(
          290deg
        , #f5effe, #f5effe 20px, #e5ddf1 20px, #e5ddf1 40px);
    }

    & .heading {
      & .participants {
        & p {
          color: #f5effe;
          background-color: #5e4585;
        }

        & fa-icon {
          color: #5e4585;
        }
      }
    }
  }

  &.pink {
    background-color: #fee0e0;
    border-left: 3px solid #f96364;
    color: #540102;

    &.striped {
      background: repeating-linear-gradient(
          290deg
        , #fee0e0, #fee0e0 20px, #f6d4d4 20px, #f6d4d4 40px);
    }

    & .heading {
      & .participants {
        & p {
          color: #fee0e0;
          background-color: #854545;
        }

        & fa-icon {
          color: #854545;
        }
      }
    }
  }

  &.blue {
    background-color: #e6edfd;
    border-left: 3px solid #4094f7;
    color: #021b39;

    &.striped {
      background: repeating-linear-gradient(
          290deg
        , #e6edfd, #e6edfd 20px, #d3dbf3 20px, #d3dbf3 40px);
    }

    & .heading {
      & .participants {
        & p {
          color: #e6edfd;
          background-color: #455885;
        }

        & fa-icon {
          color: #455885;
        }
      }
    }
  }

  &.green {
    background-color: #dbece1;
    border-left: 3px solid #5db27e;
    color: #144026;

    &.striped {
      background: repeating-linear-gradient(
          290deg
        , #dbece1, #dbece1 20px, #c2e0cd 20px, #c2e0cd 40px);
    }

    & .heading {
      & .participants {
        & p {
          color: #dbece1;
          background-color: #45845d;
        }

        & fa-icon {
          color: #45845d;
        }
      }
    }
  }
}

.drag-indicator {
  position: absolute;
  display: flex;
  align-items: center;
  height: 20px;
  background-color: #c1c1c1;
  font-size: 12px;
  right: 0;
  padding: 0 3px;
  border-radius: 3px;
}

.current-time-indicator {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #ae0001;

  &::before {
    content: ' ';
    background-color: #ae0001;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}
