/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url(assets/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url(assets/OpenSans-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(assets/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url(assets/OpenSans-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url(assets/OpenSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url(assets/OpenSans-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url(assets/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url(assets/OpenSans-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url(assets/OpenSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url(assets/OpenSans-ExtraBoldItalic.ttf) format("truetype");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
